<!DOCTYPE html>
	<html>
		<head>
			<title>Ollie Hanton, PhD student</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<!--<li><a href="/about">About</a></li>-->
				<li><a href="projects">Projects</a></li>
	        		<li><a href="/Oliver_Hanton__Academic_.pdf">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:oh12660@bristol.ac.uk">email</a></li>
        		<li><a href="https://github.com/olihanton">github.com/olihanton</a></li>
				</ul>
			</footer>
		</body>
	</html>
